@model CleanArchMVC.Application.DTOs.ProductDTO

<h3>Deletar Produto</h3>

<h4>Tem certeza que deseja deletar?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DS_NAME)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DS_NAME)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DS_DESCRIPTION)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DS_DESCRIPTION)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VL_PRICE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VL_PRICE)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-info">Voltar para Lista</a>
    </form>
</div>