@model CleanArchMVC.Application.DTOs.ProductDTO

<h3>Detalhes do Produto</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DS_NAME)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DS_NAME)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DS_DESCRIPTION)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DS_DESCRIPTION)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DS_IMAGE)</dt>
        <dd class="col-sm-10">
            @if (!ViewBag.ImageExist)
            {
                <img src="~/images/noimage.png" class="rounded-circle" 
                     height="300" width="300" asp-append-version="true" />
            }
            else
            {
                <img src="~/images/@Model.DS_IMAGE" class="rounded-circle" 
                     height="300" width="300" asp-append-version="true" />
            }
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.VL_PRICE)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VL_PRICE)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.QTY_STOCK)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.QTY_STOCK)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Category)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Category.DS_NAME)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-info">Voltar para Lista</a>
</div>